@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.section1
{
    position: relative;
    width:100%;
    height:100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    box-sizing: border-box;
    background: linear-gradient(180deg,#3a3a3a,#BEBEBE,#ffffff); 
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-size: 100%;
}
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom:-70px;
}

:root {
  --level-1:translateZ(3rem);
  --level-2:translateZ(6rem);
  --level-3:translateZ(9rem);

  --fw-normal:400;
  --fw-bold:700;

  --clr:#e7d1b5;
}


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

.karta {
  width: 400px;   
  z-index: 1000;
  margin-left:170px;
  
}
.permbajtja_para {
  text-align: center;
  position: relative;
  padding: 15em 5em;
  transition: transform 3s;
  transform-style:preserve-3d;
  }
.karta:hover .permbajtja_para {
transform: rotateY(0.5turn);
/* po bohet rotate ne boshtin y */
}


.fronti, .backi {
position: absolute;
top:0;
bottom: 0;
left: 0;
right: 0;
padding:5em 3em;
backface-visibility: hidden;
transform-style:preserve-3d;
display: grid;
align-content: center;
}
.fronti {
  background-color:#171717;
  background-image: url(images/card.jpg);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  color:#333;
}
.fronti::before {
  content:'';
  position: absolute;
  top:1em;
  bottom: 1em;
  left: 1em;
  right: 1em;
  border:2px solid currentColor;
  border-radius: 10;
  transform:var(--level-1);
}
.titulli {
 font-size: 3.5rem;
 transform:var(--level-3); 
  order:2;
  text-transform: uppercase;
  
}

.subtitle {
  transform:var(--level-2);
  text-transform: uppercase;
  letter-spacing:4px ;
  font-size:0.75rem;
  font-weight: var(--fw-bold);
  opacity: 0.7;
}
.permbajtja_prapa{
  transform:var(--level-2);
  font-weight:var(fw--normal);
  font-size:1.5rem;
  line-height: 1.6;
}

.backi {
  transform:rotateY(0.5turn);
  color: var(--clr);
  background: #212121; 
}
.backi a{
  color:#e6b97e;
  text-decoration: none;
}
.logo
{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h3 {
    margin:0;
    padding: 0;
    text-transform: uppercase;
    font-size: 18px;
    margin-left:120px;
}

h3 span {
    display: inline-flex;
    color:#333;
    overflow: hidden;
    font-size: 30px;
}
h3:hover span {
    display: inline-flex;
    color:#d88e2c;
    background-color:#333;
    transition-delay: 0.1s;
    overflow: hidden;
    z-index: 4000;
    font-size: 20px;
    transition-duration: 1s;
}
h3 span:nth-child(even){
    overflow: hidden;
    color:#fff;
    border-bottom: 8px solid #d88e2c;
    letter-spacing: -1em;
}
h3:hover span:nth-child(even){
    
    letter-spacing: 0;
    background-color:  #333;
}
.begin {
  display: flex;
  justify-content: space-between;
  order:3;
  z-index: 3000;
  background-color: #c59a61;
}
.karta {
  flex-basis:60%;
  margin-top:100px; 
}
.header-text {
  width: 560px;
  height: 70px;
  margin:100px;
  margin-top:450px;
  margin-right: 50px;
  border:2px #333333 solid;
  border-radius: 20px;

  text-align: center;
  font-size: 30px;
  padding:15px;
  background-color: #3333;
  color:white;
  font-weight: bold;
  z-index: 5000;
}
.header-text .teksti {
  text-shadow:#333;
  border-color: white;
   outline-width: 2px;
    outline-style: dashed;
    outline-color: #d88e2c;
    z-index: 2500;
}
.section2 {
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-gap:1em;
  margin-top:-50px;
  background-color: #333333;
}
.hyrja {
  position: relative;
  width:460px;
  height:200px;
  background: rgb(212, 211, 211);
  color: #333;
  font-size:20px;
  padding:28px;
  padding-top: 20px;
  margin-left:720px;
  margin-top:120px;
  text-align: center;
  border-radius: 2px;
  z-index:3000;
}


.hyrja:hover{
border:5px rgb(202, 173, 134) dotted;
}
.vertical-line {
  
  height:300px;
  position:absolute;
  margin-left:380px;
  margin-top:15px;
  border-radius: 0.5px;
}

.bpa-svg{
  margin-top:10px;
  margin-left:100px;
}
.b {
  font-size:100px;
  font-family: 'Rajdhani', sans-serif;
  background: #333;
  color:#d88e2c;
  
}
.pa {
  font-size:80px;
  font-family: 'Rajdhani', sans-serif;
  background-color: #333333;
  color:#fff;
  border-bottom:20px solid #d88e2c;
  border-radius: 10%;
}

.bpa {
  margin-left:20px;
  margin-top:130px;
}
.bpa-svg2 {
  position: absolute;
  margin-left:780px;
  margin-top:100px;
}
.section3 {
  height:700px;
  background:#ebebeb;
  margin-top:5px;
}
.card {
  padding: 2rem;
  color: #333;
  text-align: left;
  margin-top:-220px;
  margin-left:210px;
}

.card__title {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-bottom: 1rem;
}

.card__title::after {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: -2rem;
  bottom: -0.25rem;
  width: calc(100% + 4rem);
  background: #d88e2c;
  z-index: -1;
  -webkit-transform: scaleX(0.075);
          transform: scaleX(0.075);
  -webkit-transform-origin: left;
          transform-origin: left;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.card:hover .card__title::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.card__body {
  position: relative;
  z-index: 1;
  color: transparent;
  margin: 0;
  transition: color 150ms 350ms;
}

.card__body::after {
  content: "";
  position: absolute;
  top: -0.75rem;
  bottom: -0.75rem;
  left: -0.75em;
  right: -0.75em;
  background: white;
  z-index: -1;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  transition: -webkit-transform 250ms ease-in 250ms;
  transition: transform 250ms ease-in 250ms;
  transition: transform 250ms ease-in 250ms, -webkit-transform 250ms ease-in 250ms;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.card:hover .card__body {
  color: #333;
}

.card:hover .card__body::after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.content {
  background: transparent;
  width: 70vw;
  padding: 3em;
  text-align: center;
  margin-bottom: 1em;
}

.title {
  margin: 0 0 0.5em;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  font-size: 3rem;
  color: #d88e2c;
  line-height: 0.8;
}
.space {
  height:200px;
}
.title-line ul li {
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px;
}
.main-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 1em;
}
.main-foto1{
  width: 320px;
  height: 350px;
  margin-top:-38px;
}
.main-space{
  height: 130px;
}
.main-foto2 {
  width: 300px;
  height: 350px;
}
.table-space{
  width:100px;
}
.prov {
  width: 750px;
  
  background-color: #d88e2c;
  color:#333;
  margin-bottom:-50px;
}
.prov1{
  width: 750px;
  background-color: #333;
  color:#e6b97e;
  margin-left:-250px;
  margin-bottom:-100px;
}
.b-title{
  margin-left:30px;
}
.b-text {
  margin-left:60px;
  font-size: 15px;
}
.svg3 {
  height:480px;
}
.custom-shape-divider-bottom-1609581463 {
  position: relative;
  margin-top:-350px;
  margin-left:-300px;
  width: 1529px;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1609581463 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px); 
  height: 617px;
}

.custom-shape-divider-bottom-1609581463 .shape-fill {
  fill: #ebebeb;
}
.video1{
  margin-left:60px;
  margin-top:-200px;
  z-index: 3500;
}
.video-text {
  height: 470px;
  width: 400px;
  font-size: 20px;
  font-family: sans-serif;
  margin-left:-30px;
  margin-top:-115px;
  z-index: 5000;
}

.w-complete{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1em;
  margin-top:-1220px;
  height: 800px;
  margin-right: 100px;
}
.w-karta{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  text-align: center;
  font-size:120px;
  font-weight: 600;
  padding-top:-10px;
}
.w-karta a{
  color:#fff;
  opacity:0.8;
  text-decoration: none;
}
.w1{
  width: 200px;
  height: 180px;
  background-color: #d69949;
  margin-left: 320px;
  margin-top:190px;
  z-index: 50;
}
.w2 {
  width: 200px;
  height: 180px;
  background-color:#aaaaaa;
  margin-left: -10px;
  margin-top:290px;
  z-index: 60;
  border-top:4px white solid;
  border-left:4px white solid;
  
}

.w3{
  width: 200px;
  height: 180px;
  background-color: #646464;
  margin-top:340px;
  margin-left:-460px;
  z-index: 70;
  border-top:4px white solid;
  border-right:4px white solid;
}
.w3:hover{
  z-index: 1;
}
.w-text1, .w-text2, .w-text3 {
  background: white;
  width: 400px;
  height: 500px;
  margin-top:170px;
  margin-left: 900px;
  position: absolute;
  text-align: center;
  padding-top:70px;
  display: apsolute;
  z-index:10;
}
.d-section4{
  display: grid;
  grid-template-columns: 55% 45%;
  background-color: white;
}
.trusted-by{
  height: 450px;
  margin-left:120px;
  margin-right:-20px;
  border:4px solid #d69949;
  margin-top:40px;
  position: relative;
  z-index: 300;
  background-color: white;
}
.area {
  height:200px;
  background-color: rgb(48, 48, 48);
  margin-top:-20px;
  margin-left:-50px;
  margin-right:50px;
}
.ta2{
  table-layout: fixed;
  width:600px;
  margin-left: auto;
  margin-right: auto;
}
.ta2 td{
color:#C56F5D;
}
.ta2 tr td{
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.ta2 tr td p{
color:white;
font-size:12px;
text-align: center;
}
.ta2 tr td adress{
  color:white;
  font-size:12px;
}

.svg-div1{
  width:400;
  background-color: white;
  z-index:50;
  margin-left:-40px;
  margin-top:30px;
}
.client-text{
  margin-left: 150px;
  font-size:50px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 10px;
  margin-top:-130px;
  margin-bottom: 50px;
  position: absolute;
  background: linear-gradient( to right,rgb(182, 182, 182) 50%, #ffca58 50%, #cc752e);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s ease-out;
}
.client-text:hover {
  background-position: -100%;
 }
 .testimonials{
	background-color: transparent;
	float: left;
  padding:100px 15px;
  margin-left:170px;
  margin-top:-500px;
  z-index: 4000;
}

.testimonials .slider{
 max-width: 600px;
 margin: auto;
 text-align: center;
 padding:30px;
 z-index: 4000;
}
.testimonials .slider .slide{
  display: none;
  z-index: 4000;
}
.testimonials .slider .slide.active{
	
	display: block;
  animation: slide 1s ease;
  z-index: 4000;
}
/* @keyframes slide{
	0%{
		opacity:0;
    transform: translateX(-15px);
    z-index: 4000;
	}
	100%{
	   opacity:1;
    transform: translateX(0px);	
    z-index: 4000;
	}
} */
.testimonials .slider p{
	font-size:18px;
	color:#333;
  word-spacing: 2px;
  z-index: 4000;
}
.testimonials .slider .client-s h3{
	font-weight: bold;
	color:#333;
	font-size:18px;
  margin:30px 0 10px;
  z-index: 4000;
}
.testimonials .slider .client-s span{
	display: block;
	font-size:16px;
  color:#11bead;
  z-index: 4000;
}
.testimonials .s-slider{
	text-align: center;
  padding-top:30px;
  z-index: 4000;
}
.testimonials .s-slider img{
	max-height:80px;
	max-width:80px;
	border-radius:50%;
	display: inline-block;
	margin:0 8px;
	opacity:0.2;
	border:4px solid #fff;
	cursor: pointer;
  transition: opacity 1s ease;
  z-index: 4000;
}
.testimonials .s-slider img.active{
  opacity:1;
  z-index: 4000;
}
.custom-shape-divider-bottom-1610404607 {
  position: absolute;
  bottom: 100;
  left: 0;
  width: 100%;
  overflow: hidden;
  margin-top:90px;
}

.custom-shape-divider-bottom-1610404607 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 65px;
}

.custom-shape-divider-bottom-1610404607 .shape-fill {
  fill: #e7e7e7;
}
.meet-our-team {
  height: 150px;
  background: linear-gradient(180deg, #e7e7e7 , #eeeeee, white);
  margin-top:153px;
} 
.btn-mot{
  position: relative;
  z-index:3000;
  font-size:25px;
  letter-spacing: 3px;
  font-family: 'Poppins', sans-serif;
  margin-top:-210px;
  margin-left:650px;
}
.btn-mot a{
  color:#d88e2c;
  text-decoration: none;
}

.team-section{
  background: transparent;
  text-align: center;
}
.inner-team{
  margin: auto;
  padding: 30px;
  color: #333;
  overflow: hidden;
}
.member{
  float: left;
  width: calc(100% / 6);
  overflow: hidden;
  padding: 20px 0;
  transition: 0.4s;
}
.member:hover img{
  filter: grayscale(0);
  transform: scale(1.1);
}
.member img{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  filter: grayscale(100%);
  transition: 0.4s;
}
.m-name{
  text-transform: uppercase;
  color: black;
  padding-top: 20px;
}
.m-position{
  color: #11bead;
}
.m-social a{
  margin: 0 4px;
  display: inline-block;
  width: 30px;
  height: 30px;
  transition: 0.4s;
}
.m-social a:hover{
  transform: scale(1.3);
}
.m-social a i{
  color: #333;
  line-height: 30px;
}
@media screen and (max-width:600px) {
  .member{
    width: 100%;
  }
}

.footer-class{
  height: 400px;
  background: linear-gradient(180deg,rgb(255, 255, 255), rgb(216, 216, 216), #818181);
  margin-top:1600px;
}
.big-text{
  font-size:180px;
  /* font-weight: 600; */
  letter-spacing:0.01em;
  /* padding-top:20px; */
  position: relative;
  color:rgba(158, 158, 158, 0.3);
  font-family: 'Rajdhani', sans-serif;
  z-index: 10;
  margin-left: 50px;
}
.high-lighted {
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px;
  letter-spacing: 0.2em;
  margin-left: 230px;
  margin-top:-90px;
  position: relative;
  z-index: 20;
  font-weight: bolder;
}
.high-lighted span{
  background-color: rgb(216, 142, 44);
  color:white;
  font-family: 'Rajdhani', sans-serif;
  padding: 5px;
  font-weight: bolder;
}
.high-lighted2{
  font-family: 'Rajdhani',sans-serif;
  position: relative;
  font-size: 20px;
  margin-left: 330px;
}
.permultiplec{
column-count:2;
}
.datas {
  margin: auto;
  margin-top:0;
  display: flex;
  width: 700px;
  justify-content: space-between;
}

.datas .data-box {
  text-align: center;
}
.datas .data-box .ikone .fa {
  font-size: 30px; /* madhsia veq e ikonav */
  cursor: pointer;
  color: #333;
  margin-top:40px;
}
.datas .data-box .ikone h5,
.datas .data-box .ikone h4 {
  position:relative;
  font-weight: 600;
  margin:0;
  padding:2px 5px;
  font-size: 15px;
  transition-delay: 0.3333s;
  }
.datas .data-box .ikone h4 {
  font-weight: 400;
  color:black;
}



